{% extends 'base.html' %}

{% block content %}
	<h1>Sign In</h1>
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username() }}<br>
			{% for error in form.username.errors %}
			<span style="color:red;">[{{error}}]</span>
			{% endfor %}
		</p>
			{{ form.password.label }}<br>
			{{ form.password() }}
			{% for error in form.password.errors %}
			<span style="color:red;">[{{error}}]</span>
			{% endfor %}
		<p>
			{{ form.remember_me() }}{{ form.remember_me.label }}
		</p>
		<p>
			{{ form.submit() }}
		</p>
		<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

	</form>
{% endblock %}
