{% extends 'base.html' %}

{% block content %}
	<h1>Sign Up</h1>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username() }}<br>
			{% for error in form.username.errors %}
			<span style="color:red;">[{{error}}]</span>
			{% endfor %}
        </p>
        <p>
			{{ form.email.label }}<br>
			{{ form.email() }}<br>
			{% for error in form.email.errors %}
			<span style="color:red;">[{{error}}]</span>
			{% endfor %}
        </p>
        <p>
			{{ form.password.label }}<br>
			{{ form.password() }}
			{% for error in form.password.errors %}
			<span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
			{{ form.confirm_password.label }}<br>
			{{ form.confirm_password() }}
			{% for error in form.confirm_password.errors %}
			<span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
		<p>
			{{ form.submit() }}
		</p>
		<p>Already have an account?<a href="{{ url_for('login') }}">Sign In!</a></p>

	</form>
{% endblock %}
