{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about %}<p>{{ user.about }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit Your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
{% endblock %}